@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: #333333;
}

.header-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff99;
}

.header__div img {
    width: 80px;
    height: 120px;
}

.header__div__dos h1 {
    text-align: center;
    color: black;
    font-size: 2vw;
}


#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 35px;
    color: white;
    
}

.card__nombre {
    margin-bottom: 5px;
    color: white;
}

.card__profesion {
    margin-bottom: 5px;
    color: white;
}

.card__img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    box-shadow: -15px 1px 48px -21px rgba(255,255,255,0.75);
    -webkit-box-shadow: -15px 1px 48px -21px rgba(255,255,255,0.75);
    -moz-box-shadow: -15px 1px 48px -21px rgba(255,255,255,0.75);
}

.card__precio {
    padding-top: 20px;
    color: green;
    font-weight: 700;
}

.card__contacto {
    color: white;
    padding: 15px;
    font-weight: 500;
}

.card__boton {
    padding: 10px 20px;
    background-color: #ffff99;;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    font-size: 13px;
    font-weight: 540;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
}

#botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 60px;
}

.eliminar_profesional {
    background-color: red;
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.eliminar__ultimo__profesional {
    background-color: rgb(58, 171, 215);
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.sumar__precio {
    background-color: rgb(85, 117, 37);
    border: 2px solid white;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.preciofinal__texto {
    color: white;
    text-align: center ;
}

.popup {
    background-color: white !important;
}

.titulo-sweat {
    color: #333 !important;
}

.boton-sweat {
    background-color: #ffff99 !important;
    color: black !important;              
}


@media (max-width: 720px) {
    .header__div__dos h1 {
        font-size: 4vw;
    }
    #botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sumar__precio {
        margin-left: 0;
        margin-top: 30px;
    }

    .eliminar__ultimo__profesional {
        margin-top: 20px;
    }
}